/* Add your CSS styles here */

.leaderboard-container {
    display: grid;
    background-color: #343159;
    color: #69649E;
    padding: 1em 1.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 0 1em 1em 1em;

    & .header-row .item:nth-child(2) {
        grid-column: 4;
    }

    & .header-row,
    .leaderboard-entry {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        white-space: nowrap;
        font-weight: 500;
    }

    & .header-row {
        font-family: 'noto sans mono';
        color: #1b1a29;
        line-height: 3;
        font-size: 0.5em;
    }


    & .leaderboard-entry {
        background-color: #2e2b52;
        margin: 0 0 0.6em 0;
        border-radius: 2em;
        padding: 0.2em 0;

        & .community-logo,
        img.community-logo {
            border-radius: 100%;
            height: 1.7em;
            margin: auto;
            display: flex;
            align-items: center;

            & img {
                border-radius: 100%;
                border: solid #343159;
                height: 1.7em;

            }
        }

        & .members,
        .points {
            font-size: 0.6em;
        }

        & .rank {
            font-size: 1em;
            color: #7974a7;
            font-family: 'noto sans mono';
        }

        & .name {
            font-size: 0.6em;
            font-weight: 600;
        }
    }
}